<form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
    <div class="modal-dialog modal-lg" role="document">

        <div *ngIf="transactionFailed"  class="alert alert-danger" role="alert">
            <h4 class="alert-title">I'm so sorry&hellip;</h4>
            <div class="text-muted">{{transactionFailed}}</div>
        </div>

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New report</h5>
                <button type="button" class="btn-close" #closeButton  data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">Amount</label>
                    <input formControlName="amount" type="number" class="form-control" name="amount" placeholder="Enter Amount">
                    <div *ngIf="getControl.amount?.errors" class="error-response">amount required and should be numeric</div>
                </div>
                <label class="form-label">Transaction type</label>
                <div class="form-selectgroup-boxes row mb-3">
                    <div class="col-lg-6">
                        <label class="form-selectgroup-item">
                            <input type="radio" formControlName="transaction_type"  value="deposit" class="form-selectgroup-input" checked>
                            <span class="form-selectgroup-label d-flex align-items-center p-3">
                                <span class="me-3">
                                  <span class="form-selectgroup-check"></span>
                                </span>
                                <span class="form-selectgroup-label-content">
                                  <span class="form-selectgroup-title strong mb-1">Deposit</span>
                                </span>
                              </span>
                        </label>
                    </div>
                    <div class="col-lg-6">
                        <label class="form-selectgroup-item">
                            <input type="radio" formControlName="transaction_type"  value="withdraw" class="form-selectgroup-input">
                            <span class="form-selectgroup-label d-flex align-items-center p-3">
                                <span class="me-3">
                                  <span class="form-selectgroup-check"></span>
                                </span>
                                <span class="form-selectgroup-label-content">
                                  <span class="form-selectgroup-title strong mb-1">Withdraw</span>
                                </span>
                              </span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div>
                            <label class="form-label">Brief Description</label>
                            <textarea formControlName="description" class="form-control" rows="3"></textarea>
                            <div *ngIf="getControl.description?.errors" class="error-response">description required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                    Cancel
                </a>
                <button class="btn btn-primary ms-auto"  type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>
                    Create new report
                </button>
            </div>
        </div>
    </div>
</form>
